<div li-block="Logo defilants" class="marquee">
                    
                    <div class="marquee-content scroll reverse"><img loading="eager" alt="{{ block.settings.image_logo_1.alt }}" src="{{ block.settings.image_logo_1 | img_url: 'master' }}" class="marquee-image">
<img loading="eager" alt="{{ block.settings.image_logo_2.alt }}" src="{{ block.settings.image_logo_2 | img_url: 'master' }}" class="marquee-image">
<img loading="eager" alt="{{ block.settings.image_logo_3.alt }}" src="{{ block.settings.image_logo_3 | img_url: 'master' }}" class="marquee-image">
<img loading="eager" alt="{{ block.settings.image_logo_4.alt }}" src="{{ block.settings.image_logo_4 | img_url: 'master' }}" class="marquee-image">
<img loading="eager" alt="{{ block.settings.image_logo_5.alt }}" src="{{ block.settings.image_logo_5 | img_url: 'master' }}" class="marquee-image">
<img loading="eager" alt="{{ block.settings.image_logo_6.alt }}" src="{{ block.settings.image_logo_6 | img_url: 'master' }}" class="marquee-image">
</div>
                    
                    <div class="marquee-content scroll reverse"><img li-object:src="block.settings.image_logo_1 | img_url: 'master'" loading="eager" alt="" src="{{ block.settings.image_logo_1 | img_url: 'master' }}" class="marquee-image">
<img li-object:src="block.settings.image_logo_2 | img_url: 'master'" loading="eager" alt="" src="{{ block.settings.image_logo_2 | img_url: 'master' }}" class="marquee-image">
<img li-object:src="block.settings.image_logo_3 | img_url: 'master'" loading="eager" alt="" src="{{ block.settings.image_logo_3 | img_url: 'master' }}" class="marquee-image">
<img li-object:src="block.settings.image_logo_4 | img_url: 'master'" loading="eager" alt="" src="{{ block.settings.image_logo_4 | img_url: 'master' }}" class="marquee-image">
<img li-object:src="block.settings.image_logo_5 | img_url: 'master'" loading="eager" alt="" src="{{ block.settings.image_logo_5 | img_url: 'master' }}" class="marquee-image">
<img li-object:src="block.settings.image_logo_6 | img_url: 'master'" loading="eager" alt="" src="{{ block.settings.image_logo_6 | img_url: 'master' }}" class="marquee-image">
</div>
                    
                </div>
     {% schema %} {"name":"Logo defilants","settings":[{"id":"image_logo_1","type":"image_picker","label":"logo_1"},{"id":"image_logo_2","type":"image_picker","label":"logo_2"},{"id":"image_logo_3","type":"image_picker","label":"logo_3"},{"id":"image_logo_4","type":"image_picker","label":"logo_4"},{"id":"image_logo_5","type":"image_picker","label":"logo_5"},{"id":"image_logo_6","type":"image_picker","label":"logo_6"}],"presets":[{"name":"Logo defilants"}]} {% endschema %}