<div li-block="menu">
  {% if settings.menu %}
    <div data-delay="200" data-hover="false" class="nav_menu-dropdown w-dropdown">
      <div class="nav_dropdown-toggle w-dropdown-toggle">
        <!-- Affichage du nom du menu (premier lien seulement) -->
        {% assign top_link = linklists[settings.menu].links.first %}
        {% if top_link %}
          <div class="nav_link-block">
            <div>
              <div li-object="top_link.title">{{ top_link.title }}</div>
            </div>
          </div>
        {% endif %}
      </div>

      <nav class="nav_dropdown-list w-dropdown-list">
        <div class="padding-global max-width-full not-mobile">
          <div class="container-large">
            <div class="nav_dropdown-grid-wrapper">
              {% if linklists[settings.menu].links.size > 0 %}
                <div class="nav_dropdown-grid">
                  <div id="w-node-_0bad29d1-63dc-be0f-e85d-3674b7a80e2c-eddd3128">
                    {% for link in linklists[settings.menu].links %}
                      {% if link.links.size > 0 %}
                        {% for child_link in link.links %}
                          <div class="nav_child-link">
                            <div class="nav_dropdown-link" li-object="child_link.title">{{ child_link.title }}</div>

                            {% if child_link.links.size > 0 %}
                              <div class="nav_dropdown-links-wrapper">
                                {% for grandchild_link in child_link.links %}
                                  <div class="nav_dropdown-link-item">
                                    <a
                                      href="{{ grandchild_link.url }}"
                                      class="nav_dropdown-link_child w-inline-block"
                                      li-object="grandchild_link.title"
                                    >
                                      <div>{{ grandchild_link.title }}</div>
                                    </a>
                                  </div>
                                {% endfor %}
                              </div>
                            {% endif %}
                          </div>
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              {% endif %}

              <!-- GRILLE PRODUITS -->
              <div class="nav_dropdown-grid is-2">
                {% if settings.product_1 %}
                  {% assign product1 = all_products[settings.product_1] %}
                  <div class="nav_child-link">
                    <a href="{{ product1.url }}" class="w-inline-block">
                      <img src="{{ product1.featured_image | image_url: width: 300 }}" alt="{{ product1.title }}">
                    </a>
                    <a href="{{ product1.url }}" class="nav_dropdown-link w-inline-block">
                      <div>{{ product1.title }}</div>
                    </a>
                  </div>
                {% endif %}

                {% if settings.product_2 %}
                  {% assign product2 = all_products[settings.product_2] %}
                  <div class="nav_child-link">
                    <a href="{{ product2.url }}" class="w-inline-block">
                      <img src="{{ product2.featured_image | image_url: width: 300 }}" alt="{{ product2.title }}">
                    </a>
                    <a href="{{ product2.url }}" class="nav_dropdown-link w-inline-block">
                      <div>{{ product2.title }}</div>
                    </a>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  {% endif %}

  <div class="li-custom w-embed"></div>
</div>

{% schema %} {"name":"menu","settings":[{"type":"header","content":"Menu Block"},{"type":"link_list","id":"menu","label":"Menu \u00e0 afficher"},{"type":"product","id":"product_1","label":"Produit en vedette 1"},{"type":"product","id":"product_2","label":"Produit en vedette 2"}],"presets":[{"name":"menu"}]} {% endschema %}
