<div id="panel-{{block.id}}-{{forloop.index}}" x-show="tab_{{block.id}} === {{forloop.index}}" aria-labelledby="tab-{{block.id}}-{{forloop.index}}" role="tabpanel" x-bind:aria-hidden="tab_{{block.id}} === {{forloop.index}} ? 'false' : 'true'" x-cloak="" li-block="Tab" class="tabs_panel">
                    
                    <div class="tabs_panel-content is-team"><div class="tabs_panel-image-wrapper"><img src="{{ 'ilona.avif' | asset_url }}" loading="lazy" alt="" class="tabs_panel-image">
</div><article class="tabs_panel-article"><h4 class="tabs_panel-article-heading">Future directrice artistique (et tornade créative)</h4><p>
{{ block.settings.text_text }}
</p>
</article></div>
                    
                    <div class="hide">
{{ block.settings.text_tab_label }}
</div>

                    
                </div>
     {% schema %} {"name":"Tab","settings":[{"id":"text_text","type":"text","label":"Text","default":"Ilona, c\u2019est l\u2019\u0153il graphique du Panier \u00e0 Caf\u00e9.\u2028Future directrice artistique, elle fa\u00e7onne l\u2019univers visuel de l\u2019entreprise : des packagings aux r\u00e9seaux sociaux, en passant par les affiches, les newsletters ou les \u00e9tiquettes.\u2028Cr\u00e9ative, organis\u00e9e et toujours pleine d\u2019id\u00e9es, elle donne du sens \u00e0 chaque visuel et de la coh\u00e9rence \u00e0 toute la communication.\u2028C\u2019est aussi elle qui guide l\u2019\u00e9quipe pour capter les bons contenus sur les march\u00e9s\u2026 et qui transforme un simple caf\u00e9 en belle histoire \u00e0 raconter."},{"id":"text_tab_label","type":"text","label":"Tab Label","default":"This is some text inside of a div block."}],"presets":[{"name":"Tab"}]} {% endschema %}