<div li-block="Tabs Component" class="tabs_component">
                    
                    <div x-data="{tab: 1}" class="tabs_element is-team"><div li-for:inside="nested_block in block.blocks" class="tabs_menu is-team">
        {% for nested_block in block.blocks %}                            {% if nested_block.type == 'tab_panel' %}    <button x-bind:class="tab === {{forloop.index}} ? 'is-active' : ''" x-on:click="tab = {{forloop.index}}" role="tab" aria-controls="panel-{{section.index}}-{{forloop.index}}" tabindex="0" id="tab-{{section.index}}-{{forloop.index}}" x-bind:aria-selected="tab === {{forloop.index}} ? 'true' : 'false'" li-if="nested_block.type == 'tab_panel'" class="button is-team-tab">
    <div li-object="nested_block.type == 'tab_panel'">{{ nested_block.type == 'tab_panel' }}</div>    </button>
{% endif %}
                    {% endfor %}    </div>
<div class="tabs_body"><div li-content-for-theme-blocks="">
{% content_for 'blocks' %}
</div>
</div></div>
                    
                </div>
     {% schema %} {"name":"Tabs Component","blocks":[{"type":"tab"},{"type":"@app"}],"presets":[{"name":"Tabs Component"}]} {% endschema %}