<div class="padding-global padding-section-small"><div class="container-large"><div class="filter_feed-header"><select id="sort-by" li-for:inside="option in collection.sort_options" class="sort_select filter_checkbox">
        {% for option in collection.sort_options %}                            
                            <option value="{{ option.value }}" {% if option.value == collection.sort_by %}selected{% elsif option.value == collection.default_sort_by %}selected{% endif %}>{{ option.name }}</option>
                            
                    {% endfor %}    </select>
<a data-w-id="0b4a3b29-1fa7-6c47-5b26-de46d9ea3ce2" href="#" class="filter_tablet-filters-button w-inline-block"><div>Filter</div><img loading="lazy" src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/62942b9f00484cf074e6f851_icon-filters.svg" alt="" class="button-icon-left">
</a><div class="filter_results-text"><span li-object="collection.all_products_count | append: ' '">{{ collection.all_products_count | append: ' ' }}</span>Produits</div></div><div class="filter_layout"><div id="w-node-e36bfa88-9198-dadc-48fe-3606c0abaf33-f2213f04" class="filter_filters-wrapper"><form action="{{ routes.search_url }}" method="get" role="search" class="filter_form_component"><div id="w-node-e36bfa88-9198-dadc-48fe-3606c0abaf35-f2213f04" class="filter_form"><div class="filter_form-header"><div class="filter_heading">Filtres</div><a li-object:href="collection.url" href="{{ collection.url }}" class="button is-link hide-tablet w-inline-block"><div>Reinitialiser</div></a></div><div class="filter_results-wrapper"><div class="filter_results-text"><span li-object="collection.all_products_count | append: ' '">{{ collection.all_products_count | append: ' ' }}</span>Produits</div></div><div class="filter_form-field-wrapper"><input name="type" type="hidden" class="form_input" value="product">
<label for="filter-search" class="form_hidden-label">Search for Products</label><input name="q" placeholder="Search" type="search" id="filter-search" class="form_input" value="{{ search.terms | escape }}">
</div><div class="filter_scroll-wrapper no-scrollbar"><div class="filter_filter-group-list">{% for filter in collection.filters %}    <div li-for="filter in collection.filters" class="filter_filter-group">
                                    
                            {% if filter.values.size > 1 %}    <div x-data="{open: {% if filter.active_values.size > 0 %}true{% else %}false{% endif %}}" li-if="filter.values.size > 1" class="accordion_item">
    <div id="accordion-heading-{{forloop.index}}" x-on:click="open = !open" aria-label="{{ 'aria_labels.open_accordion' | t }}" x-bind:aria-expanded="open === true ? 'true' : 'false'" role="button" tabindex="0" aria-controls="accordion-body-{{forloop.index}}" class="filter_filter-group-heading"><div li-object="filter.label">{{ filter.label }}</div><div x-bind:class="open === true ? 'is-open' : ''" class="icon-embed-xxsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 12 12" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M3 4.5L6 7.5L9 4.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></div><div id="accordion-body-{{forloop.index}}" x-bind:style="open ? 'display: block' : 'display: none'" class="filter_filter-options"><div class="overflow-hidden"><div class="filter_list-wrapper"><div class="filter_list">{% for filter_value in filter.values %}    <div li-for="filter_value in filter.values" class="filter_item">
                                    
                            <a href="{% if filter_value.active %}{{ filter_value.url_to_remove }}{% else %}{{ filter_value.url_to_add }}{% endif %}" class="{% if filter_value.count == 0 and filter_value.active == false %}filter_form_checkbox is-disabled{% else %}filter_form_checkbox{% endif %}"><div class="{% if filter_value.active %}filter_form_checkbox-icon is-checked{% else %}filter_form_checkbox-icon{% endif %}"></div><div class="display-inlineflex display-align-center gap-0-75"><div class="filter_form_checkbox-label"><span li-object="filter_value.label | append: ' '">{{ filter_value.label | append: ' ' }}</span>(<span li-object="filter_value.count">{{ filter_value.count }}</span>)</div></div></a>
                            
                        </div>
{% endfor %}</div></div></div></div>    </div>
{% endif %}
                            
                        </div>
{% endfor %}</div></div></div></form><a data-w-id="e36bfa88-9198-dadc-48fe-3606c0abaf5d" href="#" class="filter_tablet-modal-close-button w-inline-block"><img alt="" src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/624380709031623afe4aee7e_icon_close-modal.svg" class="icon-1x1-small">
</a></div><div id="w-node-_0b4a3b29-1fa7-6c47-5b26-de46d9ea3ce6-f2213f04" class="filter_feed"><div class="filter_product-list-wrapper w-dyn-list"><div role="list" class="filter_product-list w-dyn-items">{% for product in collection.products %}    <div li-for="product in collection.products" role="listitem" class="filter_product-list-item w-dyn-item">
                                    
                            {% render 'product_item', product: product %}

                            
                        </div>
{% endfor %}</div>{% if collection.products == blank %}    <div li-if="collection.products == blank" class="filter_empty w-dyn-empty">
    <div class="heading-style-h6">No results found.</div><div class="spacer-xxsmall"></div><div>There are no results with this criteria. Try changing your search.</div>    </div>
{% endif %}</div></div></div></div></div> {% schema %} {"tag":"section","name":"Collection produits","class":"section_filters","presets":[{"name":"Collection produits","category":"Liquify","blocks":[]}]} {% endschema %}