<style>.button.is-tab-button {
  opacity: 60%;
}
.button.is-tab-button.is-active {
  opacity: 100%;
}
</style><div class="padding-global padding-section-medium"><div class="container-large"><div x-data="{tab: {{section.index}}1}" class="category_wrapper"><h2 class="text-align-center">
{{ section.settings.text_titre }}
</h2>
<div class="category_top"><div role="tablist" li-for:inside="collection in section.settings.collection_list" class="tab_menu">
        {% for collection in section.settings.collection_list %}                            <button role="tab" x-on:click="tab = {{section.index}}{{forloop.index}}" aria-controls="collection-tab-{{section.index}}{{forloop.index}}" id="collection-button-{{section.index}}{{forloop.index}}" x-bind:aria-selected="tab === {{section.index}}{{forloop.index}} ? 'true' : 'false'" x-bind:class="tab === {{section.index}}{{forloop.index}} ? 'is-active' : ''" class="button is-tab-button is-alternate"><div li-object="collection.title">{{ collection.title }}</div></button>
                    {% endfor %}    </div>
</div><div li-for:inside="collection in section.settings.collection_list" class="tab_body">
        {% for collection in section.settings.collection_list %}                            
                            <div id="collection-tab-{{section.index}}{{forloop.index}}" role="tabpanel" aria-labelledby="collection-button-{{section.index}}{{forloop.index}}" x-show="tab === {{section.index}}{{forloop.index}}" class="category_tab-panel"><div class="swiper_component is-product-swiper"><div class="swiper is-product-swiper"><div li-for:inside="product in collection.products limit: 4" class="swiper-wrapper is-product-swiper">
        {% for product in collection.products limit: 4 %}                            
                            <div class="swiper-slide is-product-swiper">{% render 'product_item', product: product %}
</div>
                            
                    {% endfor %}    </div>
</div><div class="swiper_pagination"></div></div><a li-object:href="collection.url" href="{{ collection.url }}" class="button is-white w-button">En voir plus</a></div>
                            
                    {% endfor %}    </div>
</div></div></div><div class="hide w-embed"></div>
<div class="hide w-embed w-script"><script>document.addEventListener("DOMContentLoaded", function() {
  // Fonction pour v&eacute;rifier si on est sur mobile/tablette
  function isMobile() {
    return window.innerWidth < 992; // D&eacute;sactive sur &eacute;crans >= 992px
  }
  $(".swiper_component").each(function(index) {
    // N'initialise le swiper que sur mobile/tablette
    if (isMobile()) {
      const swiper = new Swiper($(this).find(".swiper")[0], {
        autoHeight: false,
        followFinger: true,
        freeMode: false,
        slideToClickedSlide: true,
        centeredSlides: false,
        speed: 600,
        slidesPerView: 'auto',
        spaceBetween: 16,
        mousewheel: {
          forceToAxis: true
        },
        keyboard: {
          enabled: true,
          onlyInViewport: true
        },
        pagination: {
          el: $(this).find('.swiper_pagination')[0],
          clickable: true,
          bulletClass: 'swiper_bullet',
          bulletActiveClass: 'is-active',
          renderBullet: function (index, className) {
            return '<span class="' + className + '" tabindex="0" role="button" aria-label="Go to slide ' + (index + 1) + '">';
          }
        },
        breakpoints: {
          479: {
            spaceBetween: 16
          },
          767: {
            spaceBetween: 20
          },
          991: {
            spaceBetween: 32
          }
        }
      });
    }
  });
});
</script></div> {% schema %} {"tag":"section","name":"Collection Tabs Marr","class":"section_category-marron","settings":[{"id":"text_titre","type":"text","label":"Titre","default":"Heading"},{"type":"collection_list","id":"collection_list","label":"Collections","limit":8}],"presets":[{"name":"Collection Tabs Marr","category":"Liquify","blocks":[]}]} {% endschema %}