<div class="banner_component"><div class="padding-global"><div class="banner_content-wrapper"><div class="banner_content"><div class="banner_rich-text w-richtext"> {{ section.settings.richtext_banner_content }} </div>
</div></div></div></div><div data-animation="default" class="navbar9_component w-nav" data-easing2="ease" fs-scrolldisable-element="smart-nav" data-easing="ease" data-collapse="medium" data-w-id="aaae659e-26a2-8a91-9a34-6264eddd3133" role="banner" data-duration="400"><div class="navbar9_container"><a href="{{ routes.root_url }}" li-object:href="routes.root_url" class="navbar9_logo-link w-nav-brand"><img loading="lazy" src="{{ 'Logo-wide.svg' | asset_url }}" alt="" class="navbar9_logo">
</a><nav role="navigation" class="navbar9_menu w-nav-menu"><div class="navbar9_menu-left">{% for link in linklists[section.settings.menu].links %}    <div data-delay="200" data-hover="false" li-for="link in linklists[section.settings.menu].links" class="nav_menu-dropdown w-dropdown">
                                    
                            <div class="nav_dropdown-toggle w-dropdown-toggle">{% if link.links.size > 0 %}    <div li-if="link.links.size > 0" class="dropdown-icon w-embed">
    <svg width=" 100%" height=" 100%" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="currentColor"></path></svg>    </div>
{% endif %}<a li-object:href="link.url" href="{{ link.url }}" class="nav_link-block w-inline-block"><div><div li-object="link.title">{{ link.title }}</div></div></a></div>
                            
                            {% if link.links.size > 0  %}    <nav li-if="link.links.size > 0 " class="nav_dropdown-list w-dropdown-list">
    <div class="padding-global max-width-full not-mobile"><div class="container-large"><div class="nav_dropdown-grid-wrapper"><div class="nav_dropdown-grid">{% for child_link in link.links %}    <div li-for="child_link in link.links" id="w-node-aaae659e-26a2-8a91-9a34-6264eddd3145-eddd3128" class="nav_child-link">
                                    
                            <div li-object="child_link.title" class="nav_dropdown-link">{{ child_link.title }}</div>
                            
                            {% if child_link.links.size > 0 %}    <div li-if="child_link.links.size > 0" class="nav_dropdown-links-wrapper">
    {% for grandchild_link in child_link.links %}    <div li-for="grandchild_link in child_link.links" class="nav_dropdown-link-item">
                                    
                            <a li-object:href="grandchild_link.url" href="{{ grandchild_link.url }}" class="nav_dropdown-link_child w-inline-block">{% if collection_object.metafields.custom.pays_d_origine %}    <img class="country_icon" src="collection_object.metafields.custom.pays_d_origine.drapeau_icone" alt="collection_object.metafields.custom.pays_d_origine.pays" li-if="collection_object.metafields.custom.pays_d_origine" li-object:src="collection_object.metafields.custom.pays_d_origine.drapeau_icone" loading="lazy" li-object:alt="collection_object.metafields.custom.pays_d_origine.pays">
{% endif %}{% if collection_object.metafields.custom.certification %}    <img class="certification_icon" src="collection_object.metafields.custom.certification.icone" alt="collection_object.metafields.custom.certification.nom" li-if="collection_object.metafields.custom.certification" li-object:src="collection_object.metafields.custom.certification.icone" loading="lazy" li-object:alt="collection_object.metafields.custom.certification.nom">
{% endif %}<div li-object="grandchild_link.title">{{ grandchild_link.title }}</div></a>
                            
                        </div>
{% endfor %}    </div>
{% endif %}
                            
                        </div>
{% endfor %}</div><div class="nav_dropdown-grid is-2"><div id="w-node-aaae659e-26a2-8a91-9a34-6264eddd3152-eddd3128" class="nav_child-link"><img alt="" src="{{ 'image.svg' | asset_url }}" loading="lazy">
<a href="#" class="nav_dropdown-link w-dropdown-link">Child Link</a></div></div></div></div></div>    </nav>
{% endif %}
                            
                        </div>
{% endfor %}{% for link in linklists[section.settings.menu_handle].links %}    <div li-for="link in linklists[section.settings.menu_handle].links">
                                    
                            <a li-object:href="link.url" href="{{ link.url }}" class="nav_link-item w-inline-block"><div><div li-object="link.title">{{ link.title }}</div></div></a>
                            
                        </div>
{% endfor %}</div><div class="navbar9_menu-right">{% for link in linklists[section.settings.menu_handle].links %}    <div li-for="link in linklists[section.settings.menu_handle].links">
                                    
                            <a li-object:href="link.url" href="{{ link.url }}" class="nav_link-item w-inline-block"><div><div li-object="link.title">{{ link.title }}</div></div></a>
                            
                        </div>
{% endfor %}{% for link in linklists['small-menu'].links %}    <div data-delay="200" data-hover="false" li-for="link in linklists['small-menu'].links" class="nav_menu-dropdown w-dropdown">
                                    
                            <div class="nav_dropdown-toggle w-dropdown-toggle">{% if link.links.size > 0 %}    <div li-if="link.links.size > 0" class="dropdown-icon w-embed">
    <svg width=" 100%" height=" 100%" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="currentColor"></path></svg>    </div>
{% endif %}<a li-object:href="link.url" href="{{ link.url }}" class="nav_link-block w-inline-block"><div><div li-object="link.title">{{ link.title }}</div></div></a></div>
                            
                            {% if link.links.size > 0  %}    <nav li-if="link.links.size > 0 " class="navbar_small-dropdown-list w-dropdown-list">
    {% for child_link in link.links %}    <div li-for="child_link in link.links" class="nav_child-link">
                                    
                            <a href="{{ child_link.url }}" li-object="child_link.title" li-object:href="child_link.url" class="navbar_small-dropdown-link w-dropdown-link">{{ child_link.title }}</a>
                            
                        </div>
{% endfor %}    </nav>
{% endif %}
                            
                        </div>
{% endfor %}</div></nav><div class="nav_shop-icons"><div class="nav_search"><div data-delay="0" data-hover="false" class="nav_dropdown w-dropdown"><div class="nav_shop-icon w-dropdown-toggle"><div class="icon-embed-xsmall w-embed"><svg width="19" height="20" viewbox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.1645 16.8532L12.852 13.5407M14.6415 9.23836C14.6415 12.6028 11.9141 15.3302 8.54964 15.3302C5.18519 15.3302 2.45776 12.6028 2.45776 9.23836C2.45776 5.87391 5.18519 3.14648 8.54964 3.14648C11.9141 3.14648 14.6415 5.87391 14.6415 9.23836Z" stroke="currentColor" stroke-width="1.52297" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></div><nav class="nav_predictive-search-holder w-dropdown-list"><div li-element="dropdown-toggle" class="nav_predictive-search-close" data-dropdowntoggle="" @click="LiquifyHelper.triggerClick($event.target.closest('.w-dropdown').querySelector('.w-dropdown-toggle.w--open'))"></div><div class="predictive-search_component"><div class="predictive-search_header"><div class="text-size-large">Recherche</div><button li-element="dropdown-toggle" aria-label="Close Search" class="nav_dropdown-close-button" data-dropdowntoggle="" @click="LiquifyHelper.triggerClick($event.target.closest('.w-dropdown').querySelector('.w-dropdown-toggle.w--open'))"><div class="nav_dropdown-close-icon w-embed"><svg width="15" height="15" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.84775 14.178L0.447754 12.778L6.04775 7.17798L0.447754 1.57798L1.84775 0.177979L7.44775 5.77798L13.0478 0.177979L14.4478 1.57798L8.84775 7.17798L14.4478 12.778L13.0478 14.178L7.44775 8.57798L1.84775 14.178Z" fill="currentColor"></path></svg></div></button></div><predictive-search><div class="predictive-search_holder"><div class="predictive-search_form w-form"><form id="wf-form-produkt-suche" name="wf-form-produkt-suche" data-name="produkt-suche" action="/search" method="get" class="predictive-search_form-component" data-wf-page-id="680ba29c8df9fdc50a9591df" data-wf-element-id="55e9677e-d465-31fa-ea61-46e7a2ad2aa3"><div class="predictive-search_input-holder"><label for="search-input" class="form_hidden-label">Search</label><input type="search" id="search-input" placeholder="Rechercher" name="q" class="predictive-search_input">
<a href="#" class="predictive-search_search-button w-inline-block"><div class="icon-embed-xsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 25 25" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><mask id="mask0_2941_121300" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="25" height="25"><rect x="0.123535" y="0.987549" width="24" height="24" fill="#D9D9D9"></rect></mask><g mask="url(#mask0_2941_121300)"><path d="M19.7235 21.9875L13.4235 15.6875C12.9235 16.0875 12.3485 16.4042 11.6985 16.6375C11.0485 16.8709 10.3569 16.9875 9.62354 16.9875C7.80687 16.9875 6.26937 16.3584 5.01104 15.1C3.7527 13.8417 3.12354 12.3042 3.12354 10.4875C3.12354 8.67088 3.7527 7.13338 5.01104 5.87505C6.26937 4.61672 7.80687 3.98755 9.62354 3.98755C11.4402 3.98755 12.9777 4.61672 14.236 5.87505C15.4944 7.13338 16.1235 8.67088 16.1235 10.4875C16.1235 11.2209 16.0069 11.9125 15.7735 12.5625C15.5402 13.2125 15.2235 13.7875 14.8235 14.2875L21.1235 20.5875L19.7235 21.9875ZM9.62354 14.9875C10.8735 14.9875 11.936 14.55 12.811 13.675C13.686 12.8 14.1235 11.7375 14.1235 10.4875C14.1235 9.23755 13.686 8.17505 12.811 7.30005C11.936 6.42505 10.8735 5.98755 9.62354 5.98755C8.37354 5.98755 7.31104 6.42505 6.43604 7.30005C5.56104 8.17505 5.12354 9.23755 5.12354 10.4875C5.12354 11.7375 5.56104 12.8 6.43604 13.675C7.31104 14.55 8.37354 14.9875 9.62354 14.9875Z" fill="currentColor"></path></g></svg></div></a><input type="submit" data-wait="Please wait..." id="submit-search" class="hide w-button" value="Submit">
</div><div id="predictive-search" fs-scrolldisable-element="preserve" class="predictive-search_overflow no-scrollbar"><div li-section="predictive_search" class="predictive-search_section">{% if predictive_search.performed %}    <div li-if="predictive_search.performed" class="predictive-search_conditional">
    {% assign first_column_results_size = predictive_search.resources.queries.size | plus: predictive_search.resources.collections.size | plus: predictive_search.resources.pages.size | plus: predictive_search.resources.articles.size | plus: predictive_search.resources.products.size %}
{% if first_column_results_size > 0 %}    <div li-if="first_column_results_size > 0" class="predictive-search_conditional">
    {% if predictive_search.resources.products.size > 0 or predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0 %}    <div li-if="predictive_search.resources.products.size > 0 or predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0" class="predictive-search_topic">
    <div class="predictive-search_headline"><div class="text-style-muted">Products</div></div><ul role="list" class="predictive-search_product-list w-list-unstyled">{% for product in predictive_search.resources.products %}    <li li-for="product in predictive_search.resources.products" class="predictive-search_produt-item">
                                    
                            <a li-object:href="product.url" href="{{ product.url }}" class="predictive-search_line-item w-inline-block"><div class="predictive-search_image-wrapper"><img li-object:src="product.featured_media | image_url: width: 150" li-object:alt="product.featured_image.alt" alt="{{ product.featured_image.alt }}" src="{{ product.featured_media | image_url: width: 150 }}" loading="lazy" class="predictive-search_image">
</div><div class="predictive-search_product-info"><div class="text-size-regular text-weight-bold"><span li-object="product.title">{{ product.title }}</span></div><div class="text-size-small"><span li-object="product.price | money">{{ product.price | money }}</span></div></div></a>
                            
                        </li>
{% endfor %}</ul>    </div>
{% endif %}{% if predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0 %}    <div li-if="predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0" class="predictive-search_topic">
    <div class="predictive-search_headline"><div class="text-style-muted">Suggestions</div></div><ul role="list" class="predictive-search_list w-list-unstyled">{% for query in predictive_search.resources.queries %}    <li li-for="query in predictive_search.resources.queries" class="predictive-search_item">
                                    
                            <a li-object:href="query.url" href="{{ query.url }}" class="predictive-search_link w-inline-block"><div li-object="query.styled_text">{{ query.styled_text }}</div></a>
                            
                        </li>
{% endfor %}{% for collection in predictive_search.resources.collections %}    <li li-for="collection in predictive_search.resources.collections" class="predictive-search_item">
                                    
                            <a li-object:href="collection.url" href="{{ collection.url }}" class="predictive-search_link w-inline-block"><div li-object="collection.title">{{ collection.title }}</div></a>
                            
                        </li>
{% endfor %}</ul>    </div>
{% endif %}    </div>
{% endif %}{% if first_column_results_size == 0 %}    <div li-if="first_column_results_size == 0" class="predictive-search_conditional">
    <div class="predictive-search_topic"><div class="text-style-muted">Nous avons rien trouvé avec "<span li-object="predictive_search.terms">{{ predictive_search.terms }}</span>"</div></div>    </div>
{% endif %}    </div>
{% endif %}{% unless predictive_search.performed %}    <div li-unless="predictive_search.performed" class="predictive-search_conditional">
    <div class="predictive-search_overflow"><div class="predictive-search_topic"><div class="predictive-search_headline"><div class="text-style-muted">Meilleures ventes</div></div><ul role="list" class="predictive-search_product-list w-list-unstyled">{% for product in section.settings.collection_search_bestseller.products limit: section.settings.collection_search_bestseller_limit %}
<li class="predictive-search_produt-item">
    
    <a li-object:href="product.url" href="{{ product.url }}" class="predictive-search_line-item w-inline-block"><div class="predictive-search_image-wrapper"><img li-object:src="product.featured_image | img_url: 'master'" li-object:alt="product.featured_image.alt" alt="{{ product.featured_image.alt }}" src="{{ product.featured_image | img_url: 'master' }}" loading="lazy" class="predictive-search_image">
</div><div class="predictive-search_product-info"><div class="text-size-regular text-weight-bold"><span li-object="product.title">{{ product.title }}</span></div><div class="text-size-small"><span li-object="product.price | money">{{ product.price | money }}</span></div></div></a>
    
</li>
{% endfor %}
</ul></div></div>    </div>
{% endunless %}</div></div></form><div class="hide w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="hide w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div></div></predictive-search></div></nav></div></div>{% if shop.customer_accounts_optional %}    <div li-if="shop.customer_accounts_optional" class="nav_account">
    <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="nav_shop-icon w-inline-block"><div class="icon-embed-xsmall w-embed"><svg width="19" height="20" viewbox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.9166 16.8532V15.3302C14.9166 14.5224 14.5957 13.7477 14.0245 13.1764C13.4533 12.6052 12.6785 12.2843 11.8707 12.2843H6.54032C5.73249 12.2843 4.95774 12.6052 4.38652 13.1764C3.8153 13.7477 3.49438 14.5224 3.49438 15.3302V16.8532M12.2515 6.19242C12.2515 7.87464 10.8877 9.23836 9.20551 9.23836C7.52329 9.23836 6.15958 7.87464 6.15958 6.19242C6.15958 4.5102 7.52329 3.14648 9.20551 3.14648C10.8877 3.14648 12.2515 4.5102 12.2515 6.19242Z" stroke="currentColor" stroke-width="1.52297" stroke-linecap="round" stroke-linejoin="round"></path></svg></div></a>    </div>
{% endif %}{% render 'mini_cart' %}
</div><div class="navbar9_menu-button w-nav-button"><div class="menu-icon5"><div class="menu-icon1_line-top"></div><div class="menu-icon1_line-middle"><div class="menu-icon1_line-middle-inner"></div></div><div class="menu-icon1_line-bottom"></div></div></div></div></div><div class="li-custom w-embed"></div>
 {% schema %} {"tag":"section","name":"header","class":"section_navbar","settings":[{"id":"richtext_banner_content","type":"richtext","label":"banner_content","default":"<p>\n                Livraison offerte pour toute commande de +80\u20ac\n              <\/p>"},{"id":"collection_search_bestseller","type":"collection","label":"Search - Bestseller"},{"type":"range","id":"collection_search_bestseller_limit","min":1,"max":99,"step":1,"label":"Limit: Search - Bestseller","default":6},{"type":"header","content":"free_shipping"},{"type":"text","id":"free_shipping","label":"Free Shipping","default":"100"},{"type":"header","content":"Navigation"},{"type":"link_list","id":"menu","label":"Menu"}],"presets":[{"name":"header","category":"Liquify","blocks":[]}]} {% endschema %}